.GetSongsBtn {  
  color: #fff;
  font-size: 12px;
  background-color: #6495ed;
  border-color: #6495ed;
  border-radius: 40px;
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1000;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

.GetSongsBtn:hover {
  box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
}

.GetSongsBtn:focus,
.GetSongsBtn:active {
  outline: none;
}
